<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>contacto</title>
		<link href="./../assets/style/seleccion-contenido.css" rel="stylesheet" />
	</head>
	<body>
		<form class="contact_form" action="#" id="contact_form" runat="server">
			<div>
				<ul>
					<li>
						<h2>Contactos</h2>
						<span class="required_notification">* Datos requeridos</span>
					</li>
					<li>
						<label for="name">Nombre:</label>
						<input type="text" placeholder="aqui va su nombre" required />
					</li>
					<li>
						<label for="email">Email:</label>
						<input type="email" name="email" placeholder="nombre@algo.com" required />
						<span class="form_hint">Formato correcto: "nombre@xxxx.com"</span>
					</li>
					<li>
						<label for="website">Sitio web:</label>
						<input
							type="url"
							name="website"
							placeholder="http://algo.com"
							required
							pattern="(http|https)://.+"
						/>
						<span class="form_hint">Formato correcto: "http://algo.com"</span>
					</li>
					<li>
						<label for="message">Mensaje:</label>
						<textarea name="message" cols="40" rows="6" required></textarea>
					</li>
					<li>
						<button class="submit" type="submit">Enviar mensaje</button>
					</li>
				</ul>
			</div>
		</form>
	</body>
</html>
