<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/style/contenido.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <div class="container" id="contenedor1">
        <div class="row">
        <div class="col-xs-12 col-sm-9">
        <div class="page-header">
          
        <h1>Mundial de Rusia 2018</h1>
        </div>
        <p>La Copa Mundial de la FIFA Rusia 2018 (en ruso: Чемпионат мира по футболу Россия 2018) será la vigésima primera edición de la Copa Mundial de Fútbol. Esta edición del evento se realizará en Rusia entre el 14 de junio y el 15 de julio de 2018, siendo la primera vez que un país de Europa Oriental organiza el campeonato.</p>
        <p>A partir del 13 de marzo hasta el 3 de abril de 2018 (12:00 Hora de Moscú), podrá solicitar Entradas para la Copa Mundial de la FIFA Rusia 2018™. Las Entradas serán asignadas en base al Orden en que vayan llegando las Solicitudes de Entrada y sujetas a la disponibilidad.</p>
        <h2>Elección del pais anfitrión</h2>
        <p>La FIFA decidió que la elección de la sede de la Copa Mundial de Fútbol de 2018 se efectuara en conjunto con la de 2022 en la reunión del Comité Ejecutivo del organismo, realizado en Zúrich (Suiza) el 2 de diciembre de 2010.</p>
        <p>De acuerdo al sistema de rotación continental implementado por la FIFA, las asociaciones miembro o asociadas a la CAF y la CONMEBOL se encontraban vetadas para participar de esta candidatura. En consecuencia, Rusia presentó su candidatura oficialmente junto a las de Japón, Corea del Sur, Australia, Bélgica-Países Bajos, Inglaterra, España-Portugal, Estados Unidos y Qatar. Finalmente, Australia, Japón, Corea del Sur, Catar y Estados Unidos se retiraron algunos meses antes de la decisión para concentrarse en la elección de 2022.</p>
        <p>La votación se realizó en Zúrich el 2 de diciembre de 2010. En la primera ronda, Inglaterra alcanzó dos votos, Países Bajos-Bélgica obtuvo cuatro, España-Portugal llegó a los siete y Rusia se alzó con nueve. Al no alcanzar ninguno la mayoría necesaria de doce, Inglaterra fue eliminado por ser el candidato con menos respaldo y fue necesaria una segunda ronda. Aquí Rusia consiguió trece sobre los siete que recibió la dupla ibérica y los dos que recibió la candidatura Bélgica-Países Bajos.</p>
        <p>Tras la elección, Vladímir Putin, el entonces primer ministro ruso, aseguró que «Rusia 2018 será fantástico» y proyectó la construcción de nuevos estadios y la presencia de «las más altas normativas de calidad». Por su parte, Blatter realizó el viaje protocolar al país seleccionado y aseguró «que se producirá una cooperación maravillosa entre la FIFA y Rusia».</p>
        <h2>Formato de Competición</h2>
        <p>Los 32 equipos que participan en la fase final se dividen en 8 grupos de 4 equipos cada uno. Dentro del grupo cada equipo juega tres partidos, uno contra cada uno de los demás miembros del grupo. Según el resultado de cada partido, se otorgan tres puntos al ganador y ninguno al perdedor, y en caso de empate, se otorga un punto a cada equipo.</p>
        <p>Pasan a la siguiente ronda los dos equipos de cada grupo mejor clasificados. El orden de clasificación se determina teniendo en cuenta los siguientes criterios, en orden de preferencia:</p>
        <ol>
        <li>El mayor número de puntos obtenidos teniendo en cuenta todos los partidos del grupo</li>
        <li>La mayor diferencia de goles sumados teniendo en cuenta todos los partidos del grupo</li>
        <li>El mayor número de goles a favor anotados teniendo en cuenta todos los partidos del grupo</li>
        </ol>
        
        <p>Si dos o más equipos quedan igualados según los criterios anteriores sus posiciones, se determinarán mediante los siguientes criterios, en orden de preferencia:</p>
        <ol>
        <li>El mayor número de puntos obtenidos entre los equipos en cuestión</li>
        <li>La diferencia de goles teniendo en cuenta los partidos entre los equipos en cuestión</li>
        <li>El mayor número de goles a favor anotados por cada equipo en los partidos disputados entre los equipos en cuestión</li>
        <li>Sorteo del comité organizador de la Copa Mundial</li>
        </ol>
        <p>La segunda ronda incluye todas las fases desde los octavos de final hasta la final. El ganador de cada partido pasa a la siguiente fase, y el perdedor queda eliminado. Los equipos perdedores de las semifinales juegan un partido por el tercer y cuarto puesto. En el partido final, el ganador obtiene la Copa del Mundo.</p>
        <p>Si el partido termina empatado se juega un tiempo suplementario. Si el resultado sigue igualado tras la prórroga se define con tiros desde el punto penal.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
        <picture>
        <img class="img-mascota" src="https://i.pinimg.com/736x/69/ba/d7/69bad7b9e9a5baa1c88c14d263142ce2.jpg">
        </picture>
        <i><span>ZABIVAKA</span> - Mascota del Mundial</i>
        <picture>
        <img class="img-mascota" src="http://www.brandemia.org/sites/default/files/sites/default/files/logotipo_rusia_2018.jpeg">
        </picture>
        <i>Logo del Mundial</i>
        </div>
        </div>
        </div>
       

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
           integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
           crossorigin="anonymous"></script> 
          
          <script>
