<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Equipo Local</th>
								<th>Equipo Visitante</th>
							</tr>
						</thead>
						<tbody id="contenido"></tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"
		></script>
		<script src="json/partidos.json"></script>
		<script>
			var part = '';
			$.getJSON('./../data/data.json', function (datos) {
				$('#contenido').html('');
				$.each(datos['partidos'], function (idx, partido) {
					$('#contenido').append(
						'<tr>' +
							'<td>' +
							partido['equipo1'] +
							'</td><td>' +
							partido.equipo2 +
							'</td>' +
							'</tr>'
					);
				});
			});
		</script>
	</body>
</html>
