<!-- @format -->

<div class="row">
	<div class="col-xs-12 col-sm-9">
		<div class="page-header">
			<h1>Selección Colombia</h1>
			<a href="http://es.fifa.com/worldcup/stories/y=2017/m=11/news=colombia2921351.html"
				>Perfil</a
			>
		</div>
		<p>
			Colombia aseguró su clasificación para la Copa Mundial de la FIFA Rusia 2018™ tras
			igualar 1-1 con Perú en la última jornada del clasificatorio sudamericano. El
			valioso punto les permitió cerrar en el cuarto puesto de las eliminatorias y con el
			último pasaje directo a la justa mundialista.
		</p>
		<p>
			La selección de fútbol de Colombia es el equipo representativo de ese país para la
			práctica de este deporte, está dirigida por la Federación Colombiana de Fútbol, la
			cual está afiliada a la Confederación Sudamericana de Fútbol (Conmebol) y la
			Federación Internacional de Fútbol Asociado (FIFA), por lo que la selección
			participa en las competencias que estas entidades organizan y juegan. Su primer
			partido internacional lo disputó en la ciudad de Panamá el 10 de febrero de 1938.5
		</p>
		<p>
			Su máximo logro internacional es la Copa América obtenida en 2001, siendo Colombia
			la sede del certamen; también ha alcanzado un subcampeonato en 1975 y llegado a
			instancias semifinales en 1987, 1991, 1993, 1995, 2004 y 2016.
		</p>
		<p>
			A nivel de selecciones menores ganó los Campeonatos Sudamericanos Sub-20 de 1987,
			2005 y 2013, y el Campeonato Sudamericano Sub-17 de 1993. Así mismo, ocupó el tercer
			lugar en la Copa Mundial de Fútbol Sub-20 de 2003 realizada en Emiratos Árabes
			Unidos y posteriormente cuarto lugar en las Copas Mundiales de Fútbol Sub17 de 2003
			y 2009.
		</p>
		<p>
			Ha participado en seis Copas Mundiales de Fútbol (1962, 1990, 1994, 1998, 2014 y
			2018). En Brasil 2014 logró la mejor participación terminando en el puesto 5 de 32
			selecciones participantes.
		</p>
		<p>
			En 2003 participó en la Copa FIFA Confederaciones representando a la Conmebol como
			campeón de América del Sur; en esa sexta edición realizada en Francia, Colombia
			alcanzó el cuarto lugar.
		</p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<picture
			><img
				class="imgseleccion"
				src="http://img.fifa.com/mm/photo/tournament/competition/02/91/32/34/2913234_largelnd.jpg"
		/></picture>

		<i>Imagen Selección</i>

		<picture
			><img
				class="imgseleccion"
				src="https://www.adidas.co/dis/dw/image/v2/aaqx_prd/on/demandware.static/-/Sitesadidasproducts/default/dw2d4a361b/zoom/BR3509_01_laydown.jpg?sh=600&strip=false&sw
    =600"
		/></picture>

		<i>Camiseta Selección</i>

		<picture
			><img
				class="imgseleccion"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.
    svg/200px-Flag_of_Colombia.svg.png"
		/></picture>

		<i>Bandera</i>
	</div>
</div>
