/** @format */

nav {
	display: flex;
	background-color: #42a7a4;
	height: 60px;
	justify-content: center;
	align-content: space-around;
}
nav ul {
	text-align: center;
	display: flex;

	flex-direction: row;
	align-items: center;
}
nav li {
	display: flex;
	list-style: none;
	color: white;
	background: #42a7a4;
}
li a {
	padding: 20px;
	border: 1px solid white;
	color: white;
	width: 100%;
}

li a:hover {
	border-bottom: 1px solid white;
	background-color: #42a7a4;
	color: black;
	height: 25px;
	box-shadow: 3px 3px 3px black;
}
.active {
	height: 25px;
}
.menu-movil {
	display: none;
}

@media (max-width: 600px) {
	.menu-movil {
		display: flex;
	}
	nav.menu .menu-movil:hover ~ nav ul {
		display: flex;
	}

	nav ul {
		display: none;
	}
}
